@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/estilos.css" rel="stylesheet" />

    <title>Biblioteca Accenture</title>
</head>
<body>
    <header>
        <h1>Biblioteca Accenture</h1>
    </header>
    <div class="container blue circleBehind">
        <a href="~/Libro/Listar">CATÁLOGO DE LIBROS</a>
        <a href="~/Autor/Listar">LISTA DE AUTORES</a>
        <a href="~/Editorial/Listar">EDITORIALES</a>
    </div>
    <footer>
        <p>Accenture Academy - &copy; 2019. Todos los derechos reservados</p>
        <p>
            Contacto: <a href="mailto:mcobian3@gmail.com">
                mcobian3@gmail.com
            </a>.
        </p>
    </footer>
</body>
</html>
